/*
 * Globals
 */

@font-face {
  font-family: GothamBook;
  src: url(fonts/GothamBook.ttf);
}

@font-face {
  font-family: GothamBlack;
  src: url(fonts/Gotham-Black.otf);
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #DF4E55;
  border:none;
  border-radius:34px;
  min-width:5%;
  min-height:6%;
  font-weight: 400;
  font-size: 1em;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  /* margin-left:1%; */
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin-right: 1rem;
}


nav{
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.nav-link{
  color:#ffffff !important;

}
.navbar{
  background-color: #051220 !important;
}

.logo{
  width:85px;
  height:40px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #051220;
  color:white;
  overflow-x: hidden;
}
.intro{
  max-height:100vh;
}
.main {
  position: relative;
  text-align: center;
  width:100%;
  /* height:100%; */
}

.intro img{
  opacity: 0.55;
  max-height: 100%;
  width: 85vw;
}

.cover-heading {
  line-height: 122%;
  font-size:5vw;
  font-family: 'Muli', sans-serif;
  position:absolute;
  top: 20%;
  left: -3%;
  font-weight:900;
  text-align: left;
}

@media only screen and (max-width: 1824px) {
    .cover-heading{
      top:10%;
      font-size: 130px;
    }
}





.unite-text{
  font-weight: 800;
}


/*----------------------------------------------*/
.modal{
  color:#36404C;
  font-family: 'Muli', sans-serif;
  font-weight:400;
  text-align: center;
}
.modal-title{
  font-weight: bold;
  display: block;
  font-size: 35px;
}
.modal-header{
  padding-bottom:0;
  padding-top:0;
}

.modal-content{
  background-color: #FFFFFF;
}

.narrow{
  width:70%;
}

.narrow p{
  margin-top: 1%;
  margin-bottom: 7%;
}

.form-control{
  background-color:rgba(246, 246, 246, 0.44);
  border:0.914609px solid rgba(0, 0, 0, 0.1);
}

.message textarea{
  min-height: 7em;
}
.help-block{
  color: red;
  text-align: left;
  font-size: small;
  margin-top: 1%;
}
.modal-footer{
  border-top:none;
  text-align: center;
  display: block;
  padding-top: 0;
}

.contact-btn,
.contact-btn:hover,
.contact-btn:focus{
  background-color: #DF4E55;
  border:none;
  border-radius:34px;
  width: 64%;
  min-height: 6%;
  font-size: 1em;
  color: white;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  margin-bottom: 8%;
}

.modal-header{
  border-bottom:none;
}

@media only screen and (max-width: 992px){
  .unite-text{
    display: none;
  }
  .narrow{
    width:100%;
  }
}

/*-----------------------------------------------*/

.footer{
  /* background-color: #051220; */
  height: 40vh;
  overflow: hidden;
  position:relative;
  font-family: 'Muli', sans-serif;
}

.footer-logo-corner{
  position: absolute;
  bottom: 1%;
  left:2%;
}

.social-media{
  position: absolute;
  bottom: 3%;
  right:3%;
  text-align:right;
  padding-bottom: 1%;
}

.footer-content{
  position:absolute;
  text-align: left;
  top: 20%;
  left: 20%;
}

#bold-text{
  font-weight:900;
  font-size:22px;
}

#footer-btn{
  margin-top:7%;
  padding-left: 10%;
  padding-right: 10%;
}
.footer-pattern{
  opacity: 0.4 !important;
  width: 85vw;
}

.contact-us{
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-size:16px;
  margin-right:11%;
  vertical-align: middle;
}

.social-media{
  right:5%;
  bottom:8%;
}

#instagram{
  width:10%;
}

#twitter, #facebook {
  padding-right: 4%;
  width: 15%;
}
#facebook{
  width: 10%;
}

@media only screen and (max-width: 1440px) {
    .cover-heading{
      top: 20%;
      left: 0%;
      font-size: 9em;
    }

    .main{
      width: 60%;
      text-align: center;
      margin-left:8%;
      padding-bottom: 9%;
    }
    #bold-text{
     font-size: 2em;
    }
    #regular-text{
      font-size:1.5em;
    }
    .contact-us, #footer-btn{
      font-size:1.2em;
    }
    .footer-logo-corner{
      bottom:3%;
    }
}

@media only screen and (min-width:1441px){
  .cover-heading{
    font-size: 8vw;
    left: 6%;
    top: 18%;
  }
  #bold-text{
    font-size: 2.5em;
  }
  #regular-text{
    font-size:2em;
  }
  #footer-btn {
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5em;
    border-radius: 54px;
  }
  .contact-us{
    font-size: 1.5em !important;
  }
  .footer-logo-corner{
    bottom: 2%;
  }
  .footer-logo-corner p{
    font-size:1.5em;
  }
  .nav-item, .btn-secondary{
    font-size:1.5em;
  }
  .logo {
    width: 120px;
    height: 50px;
  }
  .detail p{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1023px) {
   .cover-heading{
      font-size: 110px;
   }
   #footer-btn {
    margin-top: 4%;
  }
  #bold-text{
   font-size: 3vh;
  }
  #regular-text{
    font-size:1em;
  }
  .footer-logo-corner p{
    font-size:14px;
  }
  .social-media{
    right:5%;
    bottom:8%;
  }
  .contact-us{
    font-size:16px;
    margin-right:11%;
  }

  #instagram{
    width:10%;
  }

  #twitter, #facebook {
    padding-right: 4%;
    width: 15%;
  }
  #facebook{
    width: 10%;
  }
  .footer{
    height:35vh;
  }
}


@media only screen and (max-width: 768px) {
   .cover-heading{
      font-size: 95px;
   }
   .footer-content{
         top: 12%;
   }
   #bold-text{
   	font-size: 3vh;
   }
   #footer-btn {
     margin-top: 4%;
     padding-left: 10%;
     padding-right: 10%;
     padding-top: 2%;
     padding-bottom: 2%;
   }
  .social-media{
    bottom:10%;
  }
   #twitter, #facebook{
     padding-right: 5%;
     width: 15%;
   }
   #instagram{
     width: 10%;
   }
   #facebook{
     width:10%;
   }
   .contact-us{
     margin-right: 11%;
   }
   .footer-logo-corner p {
     font-size: 15px;
   }
   .footer-logo-corner{
     left:2%;
   }
   .footer-pattern{
     width: 80vw;
   }
   .footer{
     height:35vh;
   }
}

@media only screen and (max-width: 621px){
  .cover-heading {
      font-size: 69px;
  }
}

@media only screen and (max-width: 461px) {
   .cover-heading{
      font-size: 45px;
      font-family: 'Muli', sans-serif;
      position: absolute;
      top: 17%;
      left: 11%;
   }
   #footer-btn{
     margin-top:2% ;
   }

   .social-media{
     bottom:15%;
   }
   .footer-logo-corner p {
       font-size: 12px;
   }
   .contact-us{
       font-size: 15px;
   }
   #twitter, #facebook {
       padding-right: 2%;
       width: 15%;
   }
   #facebook {
       width: 8%;
   }
}

@media only screen and (max-width: 380px) {
  .footer-content{
    top: 10%;
    left: 12%;
  }
  #footer-btn{
    margin-top:4% ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .social-media{
    right:8%;
    bottom: 15%;
  }
  .footer-logo-corner{
    left:5%;
    bottom:2%;
  }
}
@media only screen and (max-width: 350px) {
  .footer-logo-corner p {
      font-size: 7px;
  }
  .footer-logo-corner {
      bottom:5%;
  }
  .social-media{
    right:5%;
    bottom:20%
  }
  #footer-btn {
    margin-top: 5%;
  }
  #regular-text{
    font-size: 12px;
  }
  #bold-text{
    font-size: 14px;
  }
  .contact-us {
    font-size: 12px;
  }
}

@media only screen and (max-width: 330px){
  .cover-heading {
      font-size: 36px;
  }
}
/*----------------------------------------------*/
.detail{
  background-color: white;
  font-family: 'Muli', sans-serif;
  padding-bottom: 5%;
  position:relative;
  height:auto;
  background-repeat: no-repeat;
  background-image: url("assets/map-new.png")
}

 img.map{
  height:40vh;
  max-width: 100%;
}

 .vision{
  margin-right: 3%;
}

.detail  h3{
  color:#091E35;
  text-align: left;
  font-weight: 700;
  font-size: 46px;
  display: inline-block;
}

.detail h4{
  color:#091E35;
  text-align: left;
  font-weight:700;
}

.detail p{
  color: #3E4A58;
  font-weight:400;
  text-align: left;
  margin-bottom: 3%;
}

.detail .row{
  /* background-color: grey; */
  width:100%;
  margin:auto;
}


#who-we-are {
  padding-top: 15%;
  margin-top: 4%;
}


.unite-text span{
  font-size: 64px;
  color: #36404C;
  font-weight:700;
  text-align:left;
}

.next-meetup{
  text-align: left;
  color: #36404C;
}

.next-meetup p{
  display: inline-block;
}

#meetup-heading{
  padding-right: 2%;
  font-weight: 700;
}

#meetup-details{
  vertical-align: middle;
  padding-left: 3%;
}

.event-bar{
  display: inline-block;
}

.header-bar{
  display: inline-block;
  padding-bottom: 3%;
  padding-left: 5%;
}

/*--------------------*/




.blk-icons{
  width: 20%;
  padding-right:4%;
}
.modal-social{
  bottom: 2%;
}
